<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dudu.myapplication">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/mybrary_app_ikon_02"
        android:label="MyBrary"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Sign_up_01_Activity"/>

        <activity android:name=".Sign_up_02_Activity"/>

        <activity android:name=".Sign_in_02_Activity"/>

        <activity android:name=".Home_01"/>

        <activity android:name=".Home_00_my_info"/>

        <activity android:name=".Home_00_my_info_01"/>

        <activity android:name=".Home_00_my_info_02"/>

        <activity android:name=".Home_00_my_info_03"/>

        <activity android:name=".Home_02"/>

        <activity android:name=".Home_02_01"/>

        <activity android:name=".Home_02_02"/>

        <activity android:name=".Home_02_03"/>

        <activity android:name=".Home_03"/>

        <activity android:name=".Home_03_View"/>

        <activity android:name=".Home_04"/>

        <activity android:name=".Home_04_FriendList"/>

        <activity android:name=".Home_05"/>

        <activity android:name=".Search_01"/>

        <activity android:name=".Search_02"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.dudu.myapplication"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

            <!--//권한 설정-->

    <!--//카메라-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--//문자-->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!--//전화-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!--//앨범 접근-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>